@model SizingToolNew2.Models.Sizing

@{
    //var wkstFTE = Model.WorkstationFTE;
    //var svrFTE = Model.ServerFTE;
    //var ipFTE = Model.IPEndpointFTE;
    //var addConsole = Model.AddlConFTE;

    //// Calc for Adjusted Hours for OverRide Feature
    #region Calc for Adjusted Hours for OverRide Feature

    var Prod1TotalHours = (Model.WkstnsHoursCalc + Model.SrvsHoursCalc + Model.IPsHoursCalc + Model.AddlConHoursCalc);


    // New Workstation Run-Time Band Calc

    #region New Workstation Run-Time Band Calc

    var AvWkstnBand3_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band3Percentage);
    var AvWkstnBand4_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band4Percentage);
    var AvWkstnBand5_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band5Percentage);
    var AvWkstnBand6_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band6Percentage);
    var AvWkstnBand7_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band7Percentage);
    var AvWkstnBand8_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band8Percentage);
    var AvWkstnBand9_AZ = (Model.WorkstationFTE * Model.LaborDelivery.Band9Percentage);

    var AvWkstnBand3_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band3Percentage);
    var AvWkstnBand4_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band4Percentage);
    var AvWkstnBand5_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band5Percentage);
    var AvWkstnBand6_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band6Percentage);
    var AvWkstnBand7_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band7Percentage);
    var AvWkstnBand8_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band8Percentage);
    var AvWkstnBand9_A1Z = (Model.WorkstationFTE1 * Model.LaborDelivery.Band9Percentage);

    var AvWkstnBand3_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band3Percentage);
    var AvWkstnBand4_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band4Percentage);
    var AvWkstnBand5_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band5Percentage);
    var AvWkstnBand6_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band6Percentage);
    var AvWkstnBand7_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band7Percentage);
    var AvWkstnBand8_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band8Percentage);
    var AvWkstnBand9_A2Z = (Model.WorkstationFTE2 * Model.LaborDelivery.Band9Percentage);

    var AvWkstnBand3_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band3Percentage);
    var AvWkstnBand4_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band4Percentage);
    var AvWkstnBand5_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band5Percentage);
    var AvWkstnBand6_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band6Percentage);
    var AvWkstnBand7_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band7Percentage);
    var AvWkstnBand8_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band8Percentage);
    var AvWkstnBand9_A3Z = (Model.WorkstationFTE3 * Model.LaborDelivery.Band9Percentage);

    #endregion New Workstation Run-Time Band Calc

    // New Server Run-Time Band Calc
    #region  New Server Run-Time Band Calc
    var AvSvrBand3_AZ = (Model.ServerFTE * Model.LaborDelivery.Band3Percentage);
    var AvSvrBand4_AZ = (Model.ServerFTE * Model.LaborDelivery.Band4Percentage);
    var AvSvrBand5_AZ = (Model.ServerFTE * Model.LaborDelivery.Band5Percentage);
    var AvSvrBand6_AZ = (Model.ServerFTE * Model.LaborDelivery.Band6Percentage);
    var AvSvrBand7_AZ = (Model.ServerFTE * Model.LaborDelivery.Band7Percentage);
    var AvSvrBand8_AZ = (Model.ServerFTE * Model.LaborDelivery.Band8Percentage);
    var AvSvrBand9_AZ = (Model.ServerFTE * Model.LaborDelivery.Band9Percentage);


    var AvSvrBand3_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band3Percentage);
    var AvSvrBand4_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band4Percentage);
    var AvSvrBand5_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band5Percentage);
    var AvSvrBand6_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band6Percentage);
    var AvSvrBand7_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band7Percentage);
    var AvSvrBand8_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band8Percentage);
    var AvSvrBand9_A1Z = (Model.ServerFTE1 * Model.LaborDelivery.Band9Percentage);

    var AvSvrBand3_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band3Percentage);
    var AvSvrBand4_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band4Percentage);
    var AvSvrBand5_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band5Percentage);
    var AvSvrBand6_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band6Percentage);
    var AvSvrBand7_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band7Percentage);
    var AvSvrBand8_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band8Percentage);
    var AvSvrBand9_A2Z = (Model.ServerFTE2 * Model.LaborDelivery.Band9Percentage);

    var AvSvrBand3_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band3Percentage);
    var AvSvrBand4_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band4Percentage);
    var AvSvrBand5_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band5Percentage);
    var AvSvrBand6_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band6Percentage);
    var AvSvrBand7_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band7Percentage);
    var AvSvrBand8_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band8Percentage);
    var AvSvrBand9_A3Z = (Model.ServerFTE3 * Model.LaborDelivery.Band9Percentage);

    #endregion  New Server Run-Time Band Calc

    // New IP Endpoint Run-Time Calc - AScanBBand3

    #region New IP Endpoint Run-Time Calc

    var AScanBBand3_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand4_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand5_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand6_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand7_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand8_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);
    var AScanBBand9_AZ = (Model.IPEndpointFTE * Model.LaborDelivery.Band9Percentage);

    var AScanBBand3_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand4_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand5_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand6_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand7_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand8_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand9_A1Z = (Model.IPEndpointFTE1 * Model.LaborDelivery.Band9Percentage);

    var AScanBBand3_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand4_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand5_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand6_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand7_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand8_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand9_A2Z = (Model.IPEndpointFTE2 * Model.LaborDelivery.Band9Percentage);

    var AScanBBand3_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand4_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand5_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand6_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand7_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand8_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);
    var AScanBBand9_A3Z = (Model.IPEndpointFTE3 * Model.LaborDelivery.Band9Percentage);




    var AddConBand3_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand4_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand5_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand6_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand7_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand8_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);
    var AddConBand9_AZ = (Model.AddlConFTE * Model.LaborDelivery.Band9Percentage);

    var AddConBand3_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand4_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand5_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand6_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand7_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand8_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);
    var AddConBand9_A1Z = (Model.AddlConFTE1 * Model.LaborDelivery.Band9Percentage);

    var AddConBand3_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand4_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand5_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand6_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand7_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand8_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);
    var AddConBand9_A2Z = (Model.AddlConFTE2 * Model.LaborDelivery.Band9Percentage);

    var AddConBand3_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand4_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand5_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand6_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand7_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand8_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);
    var AddConBand9_A3Z = (Model.AddlConFTE3 * Model.LaborDelivery.Band9Percentage);


    #endregion New IP Endpoint Run-Time Calc




    #endregion Calc for Adjusted Hours for OverRide Feature

}

<div id="ProductsViewTabs">
    <ul>
        <li>
            <a href="#Product-1">
                Product #1: - <span style="font-weight:600">
                    @Html.DisplayFor(model => model.AvProduct.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AvProduct.ProductName, "", new { @class = "text-danger" })
                </span>
            </a>
        </li>

        <li>
            <a href="#Product-2">
                Product #2: - <span style="font-weight:600">
                    @Html.DisplayFor(model => model.DescProduct_2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescProduct_2, "", new { @class = "text-danger" })
                </span>
            </a>
        </li>

        <li>
            <a href="#Product-3">
                Product #3: - <span style="font-weight:600">
                    @Html.DisplayFor(model => model.DescProduct_3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescProduct_3, "", new { @class = "text-danger" })
                </span>
            </a>
        </li>
        <li>
            <a href="#Product-4">
                Product #4: - <span style="font-weight:600">
                    @Html.DisplayFor(model => model.DescProduct_4, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescProduct_4, "", new { @class = "text-danger" })
                </span>
            </a>
        </li>

        @* <li><a href="#Product-5">Product #5:</a></li>
            <li><a href="#Product-6">Product #6:</a></li>
            <li><a href="#Product-7">Product #7:</a></li>
            <li><a href="#Product-8">Product #8:</a></li> *@
        <li><a href="#ProductReview-5">Product Review</a></li>
    </ul>

    <div id="Product-1">


        <div class="col-xs-12 col-md-12">
            <div class="box box-default" style="width: 1075px; padding: 10px; margin: 10px">

                <div class="box-body">
                    Product #1: = "
                    <span style="color:blue">
                        @Html.DisplayFor(model => model.AvProduct.ProductName, new { htmlAttributes = new { @class = "form-control", Style = "height:33px" } })
                        @Html.ValidationMessageFor(model => Model.AvProduct.ProductName, "", new { @class = "text-danger" })"
                        <span style="color:#000000">   - Delivered From:</span>
                        "@Html.DisplayFor(model => model.LaborDelivery.Regions, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.LaborDelivery.Regions, "", new { @class = "text-danger" })"
                    </span>

                    <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                        <div class="=col-md-2">
                            <button type="button" class="btn-block" data-toggle="modal" data-target="#modal-product1" style="height:20px">
                                Change / Select - Options
                            </button>
                        </div>

                        <div class="col-md-3">
                            @* <input id="ClearData" type="button" value="Clear" /> *@
                        </div>

                        <div class="col-md-1" style="background-color:#ffffff; font-size:10px;">Contract Months --></div>

                        <div class="col-md-1" style="background-color:#ffffff;">
                            @Html.EditorFor(model => model.NumMonths_1, new { htmlAttributes = new { @class = "form-control", Style = "height:25px; background-color:#f2fcfc;" } })
                        </div>
                        <div class="col-2">
                            @Html.EditorFor(model => model.AvProduct.ProductDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                            @Html.ValidationMessageFor(model => model.AvProduct.ProductDesc, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-2">
                            @Html.EditorFor(model => model.LaborDelivery.Regions, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                            @Html.ValidationMessageFor(model => model.LaborDelivery.Regions, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-1">
                            
                        </div>
                    </div>
                    <div class="modal modal-product1 fade" id="modal-product1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">Select/Change Product #1</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <div class="box-tools pull-right">

                                            </div><!-- /.box-tools -->
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="row" style="height:25px">
                                                <div class="col-md-4" style="font-size:16px; color:black; font-weight:600"><p>Product #1 </p></div>
                                                <div class="col-md-5" style="font-size:16px; color:black; font-weight:600"><p>Delivery #1 </p></div>
                                                <div class="col-md-3" style="font-size:16px; color:black; font-weight:600"><p>Contract #1 </p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4" style="font-size:10px">
                                                    @* @Html.DropDownListFor(x => x.AvProduct, ViewBag.ProductData as SelectList, "Select/Change Product", new { @id = "AvProductId2A", @class = "myclass", Style = "height:25px; background-color:#f2fcfc;" })*@
                                                    @Html.DropDownList("AvProductId", null, htmlAttributes: new { @class = "form-control", Style = "height:25px; background-color:#f2fcfc;" })
                                                    @Html.ValidationMessageFor(model => model.AvProductId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-5" style="font-size:10px">
                                                    @* @Html.DropDownListFor(x => x.LaborDelivery, ViewBag.DeliveredFrom1 as SelectList, "Select/Chg-L/Delivery", new { @id = "LaborDeliveryId2A", @class = "myclass", Style = "height:25px; background-color:#f2fcfc;" }) *@
                                                    @Html.DropDownList("LaborDeliveryId", null, htmlAttributes: new { @class = "form-control", Style = "height:25px; background-color:#f2fcfc;" })
                                                    @Html.ValidationMessageFor(model => model.LaborDeliveryId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3" style="font-size:10px">
                                                    @Html.EditorFor(model => model.NumMonths_1, new { htmlAttributes = new { @class = "form-control", Style = "height:25px; background-color:#f2fcfc;" } })

                                                </div>
                                            </div>

                                        </div><!-- /.box-body -->
                                    </div><!-- /.box -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <!-- /.modal -->
                    <!-- /.modal-dialog -->
                    <!-- /.modal -->
                    <hr />


                    <div class="form-group-sm" style="font:500">

                        @*<div class="row" font-family:Arial">
                                <div class="col-md-4" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                                <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            </div> *@

                        <div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">
                            <div class="col-md-2" style="background-color:#C6E2EE;">Product #1:</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">Count</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">Hours</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band3</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band4</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band5</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band6</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band7</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band8</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">FTE Band9</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">Total FTE</div>

                        </div>
                        <div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">
                            <div class="col-md-2">:</div>
                            <div class="col-md-3" style="background-color:#ffcc99;font-weight:bold">.</div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">. </div>

                        </div>

                        <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                            <div class="col-md-2">Workstations:</div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.NumWorkstation, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.NumWorkstation, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.WkstnsHoursCalc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px", disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.WkstnsHoursCalc, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-1" style="background-color:#ffcc99">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">
                                    @String.Format("{0:0.000}", AvWkstnBand3_AZ)
                                </div>
                            @*  @Html.EditorFor(model => model.AvWkstnBand3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand3, "", new { @class = "text-danger" }) *@
                                                        </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand4_AZ)</div>
                                @*   @Html.EditorFor(model => model.AvWkstnBand4, new { htmlAttributes = new { @class =style="background-color:#ffcc99"form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
        @Html.ValidationMessageFor(model => model.AvWkstnBand4, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99; align-content:center">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand5_AZ)</div>
                              @*  @Html.EditorFor(model => model.AvWkstnBand5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand5, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand6_AZ)</div>
                              @*  @Html.EditorFor(model => model.AvWkstnBand6, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand6, "", new { @class = "text-danger" })  *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand7_AZ)</div>
                              @*  @Html.EditorFor(model => model.AvWkstnBand7, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand7, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand8_AZ)</div>
                               @* @Html.EditorFor(model => model.AvWkstnBand8, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand8, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvWkstnBand9_AZ)</div>
                              @*  @Html.EditorFor(model => model.AvWkstnBand9, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvWkstnBand9, "", new { @class = "text-danger" }) *@
                            </div>

                            <div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial">
                                @Html.EditorFor(model => model.WorkstationFTE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.WorkstationFTE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                            <div class="col-md-2">Servers:</div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.NumServer, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.NumServer, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.SrvsHoursCalc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px", disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SrvsHoursCalc, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand3_AZ)</div>
                                @* @Html.EditorFor(model => model.AvSvrBand3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand3, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand4_AZ)</div>
                             @*   @Html.EditorFor(model => model.AvSvrBand4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand4, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand5_AZ)</div>
                            @*    @Html.EditorFor(model => model.AvSvrBand5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand5, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand6_AZ)</div>
                             @*   @Html.EditorFor(model => model.AvSvrBand6, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand6, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand7_AZ)</div>
                             @*   @Html.EditorFor(model => model.AvSvrBand7, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand7, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand8_AZ)</div>
                              @*  @Html.EditorFor(model => model.AvSvrBand8, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand8, "", new { @class = "text-danger" })  *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AvSvrBand9_AZ)</div>
                             @*   @Html.EditorFor(model => model.AvSvrBand9, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AvSvrBand9, "", new { @class = "text-danger" }) *@
                            </div>

                            <div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">
                                @Html.EditorFor(model => model.ServerFTE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.ServerFTE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                            <div class="col-md-2">IP / EndPoints:</div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.NumIpAddress, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.NumIpAddress, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.IPsHoursCalc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px", disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.IPsHoursCalc, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand3_AZ)</div>
                             @*   @Html.EditorFor(model => model.AScanBBand3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand3, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand4_AZ)</div>
                             @*   @Html.EditorFor(model => model.AScanBBand4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand4, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand5_AZ)</div>
                              @*  @Html.EditorFor(model => model.AScanBBand5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand5, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand6_AZ)</div>
                             @*   @Html.EditorFor(model => model.AScanBBand6, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand6, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand7_AZ)</div>
                              @*  @Html.EditorFor(model => model.AScanBBand7, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand7, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand8_AZ)</div>
                              @*  @Html.EditorFor(model => model.AScanBBand8, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand8, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AScanBBand9_AZ)</div>
                              @*  @Html.EditorFor(model => model.AScanBBand9, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AScanBBand9, "", new { @class = "text-danger" }) *@
                            </div>

                            <div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">
                                @Html.EditorFor(model => model.IPEndpointFTE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.IPEndpointFTE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                            <div class="col-md-2">Additional Consoles:</div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.NumAddlCon, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.NumAddlCon, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                @Html.EditorFor(model => model.AddlConHoursCalc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px", disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.AddlConHoursCalc, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand3_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand3, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand4_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand4, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand5_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand5, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand5, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand6_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand6, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand6, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand7_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand7, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand7, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand8_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand8, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand8, "", new { @class = "text-danger" }) *@
                            </div>
                            <div class="col-md-1" style="background-color:#ffcc99;">
                                <div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">@String.Format("{0:0.000}", AddConBand9_AZ)</div>
                              @*  @Html.EditorFor(model => model.AddConBand9, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddConBand9, "", new { @class = "text-danger" }) *@
                            </div>


                            <div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">
                                @Html.EditorFor(model => model.AddlConFTE, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.AddlConFTE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">
                            <div class="col-md-4" style="background-color:#C6E2EE;font-weight:normal">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                            <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
                        </div>

                        <div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
                            <div class="col-md-3"></div>
                            <div class="col-md-1" style="font-weight:bold">
                                @Prod1TotalHours
                            </div>
                            <div class="col-md-7"></div>
                            <div class="col-md-1">
                                @Html.EditorFor(model => model.SteadyStateFTETtl, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly", Style = "height:25px" } })
                                @Html.ValidationMessageFor(model => model.SteadyStateFTETtl, "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Avproduct0")


        </div>
    </div>

    <div id="Product-2">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                <div class="box-body">



                    Product #2: = "
                    <span style="color:blue">
                        @Html.DisplayFor(model => model.DescProduct_2, new { htmlAttributes = new { @class = "form-control", Style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescProduct_2, "", new { @class = "text-danger" })"
                        <span style="color:#000000">   - Delivered From:</span>
                        "@Html.DisplayFor(model => model.DescLaborDelivery_2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescLaborDelivery_2, "", new { @class = "text-danger" })"
                    </span>

                    @Html.Partial("_Product1View01")
                </div>

            </div>
        </div>
    </div>

    <div id="Product-3">
        <div class="col-xs-12 col-md-12">
            <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                <div class="box-body">

                    Product #3: = "<span style="color:blue">
                        @Html.DisplayFor(model => model.DescProduct_3, new { htmlAttributes = new { @class = "form-control", Style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescProduct_3, "", new { @class = "text-danger" })"
                        <span style="color:#000000">   - Delivered From:</span>
                        "@Html.DisplayFor(model => model.DescLaborDelivery_3, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescLaborDelivery_3, "", new { @class = "text-danger" })"
                    </span>

                    @Html.Partial("_Product2")
                </div>

            </div>
        </div>

    </div>

    <div id="Product-4">

        <div class="col-xs-12 col-md-12">
            <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                <div class="box-body">


                    Product #4: = "<span style="color:blue">
                        @Html.DisplayFor(model => model.DescProduct_4, new { htmlAttributes = new { @class = "form-control", Style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescProduct_4, "", new { @class = "text-danger" })"
                        <span style="color:#000000">   - Delivered From:</span>
                        "@Html.DisplayFor(model => model.DescLaborDelivery_4, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:33px" } })
                        @Html.ValidationMessageFor(model => model.DescLaborDelivery_4, "", new { @class = "text-danger" })"
                    </span>

                    @Html.Partial("_Product3")
                </div>

            </div>
        </div>
    </div>

    @* <div id="Product-5">

            <div class="col-xs-12 col-md-12">
                <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                    <div class="box-body">


                        <h2>Steady State Worksheet: Product #5A and Service Delivery</h2>
                        TEST 2
                        @Html.Partial("_Product4")
                    </div>

                </div>
            </div>
        </div>

        <div id="Product-6">

            <div class="col-xs-12 col-md-12">
                <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                    <div class="box-body">


                        <h2>Steady State Worksheet: Product #4 and Service Delivery</h2>
                        TEST 2
                        @Html.Partial("_Product5")
                    </div>

                </div>
            </div>
        </div>

        <div id="Product-7">

            <div class="col-xs-12 col-md-12">
                <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                    <div class="box-body">


                        <h2>Steady State Worksheet: Product #4 and Service Delivery</h2>
                        TEST 2
                        @Html.Partial("_Product6")
                    </div>

                </div>
            </div>
        </div>

        <div id="Product-8">

            <div class="col-xs-12 col-md-12">
                <div class="box box-default" style="width: 1050px; padding: 10px; margin: 10px">
                    <div class="box-body">


                        <h2>Steady State Worksheet: Product #4 and Service Delivery</h2>
                        TEST 2
                        @Html.Partial("_Product7")
                    </div>

                </div>
            </div>
        </div>
    *@
    <div id="ProductView-5">



    </div>




</div>
<input type="submit" value="Calc." class="btn btn-primary" />


<div>
    @* @Html.ActionLink("Back to List", "Index") *@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <link href="~/Content/DataTables/css/dataTables.jqueryui.css" rel="stylesheet" />

    <script src="~/Scripts/DataTables/dataTables.jqueryui.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.jqueryui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

    <script type='text/javascript'>
        $("#divformtotals").hide();
        $("#divtntworksheet").hide();
    </script>
    <script type="text/javascript">

        ShowModelPopUp = function () {

            window.showModalDialog('/AcctCusts/Create', "WindowPopup", 'width=100px,height=75px');

        }

    </script>


    <script type="text/javascript">

        ShowInstructionsPopUp = function () {

            window.showModalDialog('/AcctCusts/Create', "WindowPopup", 'width=100px,height=75px');

        }

    </script>




}