@model SizingToolNew2.Models.SecurityService

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SecurityService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceRelatedProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceRelatedProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDeliveryMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDeliveryMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceComplexity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceComplexity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceFTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceFTE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
