@* 
 This partial controls the left menu of the AdminLTE dashboard and is called automatically by _AdminLteLayout
    This is where you can add, modify, or remove navigation options in your app
    TODO: This preserves the links as-is for the demo, which lead to broken pages!
    It's up to you to make sure these links either get deleted or lead somewhere REAL!
*@


@{
    Layout = null;
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @*  <div class="user-panel">
        <div class="pull-left image">
             <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
         </div> 
        <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
        </div> *@
        <!-- search form -->
         <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> 
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Sizings</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create", "SizingUserDashboard")"><i class="fa fa-circle-o"></i> Create Sizing</a></li>
                    <li><a href="@Url.Action("Index", "SizingUserDashboard")"><i class="fa fa-edit"></i> My Dashboard</a></li>
                    <li><a href="@Url.Action("Index", "Sizings")"><i class="fa fa-edit"></i> Team Dashboard</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Products &amp; Services</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Create", "AvProducts")"><i class="fa fa-edit"></i> Create- Products</a></li>
                    <li><a href="@Url.Action("Index", "AvProducts")"><i class="fa fa-edit"></i> Manage- Products</a></li>
                    <li><a href="@Url.Action("Index", "ProdCategories")"><i class="fa fa-edit"></i> Manage- Product Categories</a></li>
                    <li><a href="@Url.Action("Index", "ProdVendors")"><i class="fa fa-edit"></i> Manage- Vendors</a></li>
                    <li><a href="@Url.Action("Index", "SecurityServices")"><i class="fa fa-edit"></i> Manage- Security Services</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Administration</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "AcctCusts")"><i class="fa fa-circle-o"></i>Manage Customer</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i>Manage Users</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i>Manage Roles</a></li>
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-circle-o"></i>Manage Teams</a></li>
                    <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-circle-o"></i>Register "New" User</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o text-warning"></i> Configuration <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index", "LaborDeliveries")"><i class="fa fa-circle-o"></i>Labor and Delivery</a></li>
                            <li><a href="@Url.Action("Index", "SizingTypes")"><i class="fa fa-circle-o"></i>Manage Sizing Type</a></li>
                            <li><a href="@Url.Action("Index", "StatusStates")"><i class="fa fa-circle-o"></i>Manage Sizing States</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o text-red"></i> Variables <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">

                                    <li><a href="@Url.Action("Index", "ConFigMasters")">Manage Master Configs</a></li>
                                    <li><a href="@Url.Action("Index", "ConFigTables")">Manage ConfigTable Factors</a></li>
                                    <li><a href="@Url.Action("Index", "TnTWorkSheets")">Manage TnT Worksheets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Index", "Documentation")"><i class="fa fa-book"></i> Documentation &amp; Help!</a></li>
            <li><a href="@Url.Action("Index", "Documentation")"><i class="fa fa-eye-slash"></i> Request Access!</a></li>

            @*  <li>
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li> *@
            @* <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
              @*  <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                </ul>
            </li>*@
            @*  <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Multilevel</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li> *@
            @*   <li><a href="documentation/index.html"><i class="fa fa-book"></i> Documentation</a></li>
                 <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-danger"></i> Important</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-warning"></i> Warning</a></li>
            <li><a href="#"><i class="fa fa-circle-o text-info"></i> Information</a></li> *@
        </ul>

        <ul></ul>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Logout" class="btn btn-primary" />
        }
    </section>
    <!-- /.sidebar -->
</aside>