@model SizingToolNew2.Models.StatusState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StatusState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusStateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusStateDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusStateDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusStateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusStateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StatusStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
