@model IEnumerable<SizingToolNew2.Models.ConfigMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigMasterModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigMasterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigMasterDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfigMasterNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigMasterModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigMasterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigMasterDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConfigMasterNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConfigMasterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConfigMasterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConfigMasterId })
        </td>
    </tr>
}

</table>
