@model SizingToolNew2.Models.Sizing

@{

    var GBO_Hours4 = (Model.WkstnsHoursCalc3 + Model.SrvsHoursCalc3 + Model.IPsHoursCalc3 + Model.AddlConHoursCalc3 + Model.Prod4ComponentHours1 + Model.Prod4ComponentHours2 + Model.Prod4ComponentHours3 + Model.Prod4ComponentHours4 + Model.Prod4ComponentHours5 + Model.Prod4ComponentHours6 + Model.Prod4ComponentHours7 + Model.Prod4ComponentHours8 + Model.Prod4ComponentHours9 + Model.Prod4ComponentHours10 + Model.Prod4ComponentHours11 + Model.Prod4ComponentHours12 + Model.Prod4ComponentHours13 + Model.Prod4ComponentHours14 + Model.Prod4ComponentHours15);


    var Prod4Band3Hours = (GBO_Hours4 * Model.Prod3_Band3_Percentage);
    var Prod4Band4Hours = (GBO_Hours4 * Model.Prod3_Band4_Percentage);
    var Prod4Band5Hours = (GBO_Hours4 * Model.Prod3_Band5_Percentage);
    var Prod4Band6Hours = (GBO_Hours4 * Model.Prod3_Band6_Percentage);
    var Prod4Band7Hours = (GBO_Hours4 * Model.Prod3_Band7_Percentage);
    var Prod4Band8Hours = (GBO_Hours4 * Model.Prod3_Band8_Percentage);
    var Prod4Band9Hours = (GBO_Hours4 * Model.Prod3_Band9_Percentage);

    //MRC by BAND Calc for Product#3
    var MRCGBO_Hours4 = (GBO_Hours4 / 12);
    var MRCProd4Band3Hours = (Prod4Band3Hours / 12);
    var MRCProd4Band4Hours = (Prod4Band4Hours / 12);
    var MRCProd4Band5Hours = (Prod4Band5Hours / 12);
    var MRCProd4Band6Hours = (Prod4Band6Hours / 12);
    var MRCProd4Band7Hours = (Prod4Band7Hours / 12);
    var MRCProd4Band8Hours = (Prod4Band8Hours / 12);
    var MRCProd4Band9Hours = (Prod4Band9Hours / 12);

}


<div class="row" style="height:30px">
    <div class="col-3" style="text-align:center; color:blue">
        @Html.DisplayFor(model => model.DescProduct_4, new { htmlAttributes = new { @class = "form-control", @style = "Background-color: #ffcc99;" } })
        @Html.ValidationMessageFor(model => model.DescProduct_4, "", new { @class = "text-danger" })
    </div>
    <div class="col-3" style="text-align:center; color:blue">
        @Html.DisplayFor(model => model.DescLaborDelivery_4, new { htmlAttributes = new { @class = "form-control", @style = "Background-color: #ffcc99;" } })
        @Html.ValidationMessageFor(model => model.DescLaborDelivery_4, "", new { @class = "text-danger" })
    </div>
    <div class="col-3" style="text-align:center">
        @Html.DisplayFor(model => model.NumMonths_4, new { htmlAttributes = new { @class = "form-control", @style = "Background-color: #ffcc99;" } })
        @Html.ValidationMessageFor(model => model.NumMonths_4, "", new { @class = "text-danger" })
    </div>
    <div class="col-3" style="text-align:center">

    </div>
</div>


<div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-1">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Hours</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #3</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #4</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #5</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #6</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #7</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #8</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">Band #9</div>
    <div class="col-md-1"></div>

</div>


<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
    <div class="col-md-2"></div>
    <div class="col-md-1">

    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", GBO_Hours4)
    </div>

    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band3Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band4Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band5Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band6Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band7Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band8Hours)
    </div>
    <div class="col-md-1" style="background-color:#F0F0F0; font-size:12px">
        @String.Format("{0:0.00}", Prod4Band9Hours)
    </div>
</div>
<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">
    <div class="col-md-1"></div>
    <div class="col-md-2" style="font-size:small;">
        Monthly MRC Hours-->
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCGBO_Hours4)
    </div>

    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band3Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band4Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band5Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band6Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band7Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band8Hours)
    </div>
    <div class="col-md-1" style="background-color:#e0e0e0; font-size:12px">
        @String.Format("{0:0.00}", MRCProd4Band9Hours)
    </div>

    <div class="col-md-1" style="font-weight:bold; font-family:Arial;">

    </div>
</div>


<div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">
    <div class="col-md-2">.</div>
    <div class="col-md-1">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1" style="background-color:#C6E2EE;">.</div>
    <div class="col-md-1"></div>
</div>
<hr />

<div id="Product4Pane">


    <div hidden class="col-md-12">
        <div class="box box-default" style="width: 1000px; padding: 5px; margin: 5px">

            <div class="box-body">
                <div class="box-header"> <h2>Add / Remove: Product #4 Components</h2> </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Default Components</h3>
                                <div class="box-tools pull-right">
                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                    <!-- Here is a label for example -->
                                    <span class="label label-primary">Help</span>
                                </div><!-- /.box-tools -->
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="DefaultComplexityComponent" class="row">
                                    <div class="col-md-4" style="font-size:10px">Name</div>
                                    <div class="col-md-3" style="font-size:10px">Hours</div>
                                    <div class="col-md-1" style="font-size:10px">Wkstn</div>
                                    <div class="col-md-1" style="font-size:10px">Svr</div>
                                    <div class="col-md-1" style="font-size:10px">IP/EP</div>
                                    <div class="col-md-2" style="font-size:10px">Qty:</div>
                                </div>
                                <div id="AvCompnent1" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent1Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent1Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours1, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours1, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component1_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component1_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component1_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component1_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component1_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component1_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty1, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty1, "", new { @class = "text-danger" })
                                    </div>

                                </div>


                                <div id="AvCompnent2" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent2Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent2Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours2, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours2, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component2_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component2_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component2_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component2_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component2_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component2_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty2, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="AvCompnent3" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent3Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent3Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours3, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours3, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component3_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component3_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component3_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component3_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component3_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component3_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty3, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty3, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div id="AvCompnent4" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent4Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent4Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours4, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours4, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component4_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component4_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component4_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component4_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component4_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component4_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty4, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty4, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div id="AvCompnent5" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent5Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent5Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours5, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours5, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component5_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component5_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component5_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component5_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component5_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component5_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod1Component_Qty5, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty5, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                The footer of the box
                            </div><!-- box-footer -->
                        </div><!-- /.box -->
                    </div>
                    <div class="col-md-6">

                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Higher( Complexity ) Components</h3>
                                <div class="box-tools pull-right">
                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                    <!-- Here is a label for example -->
                                    <span class="label label-primary">Help</span>
                                </div><!-- /.box-tools -->
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="HigherComplexityComponent" class="row">
                                    <div class="col-md-4" style="font-size:10px">Name</div>
                                    <div class="col-md-3" style="font-size:10px">Hours</div>
                                    <div class="col-md-1" style="font-size:10px">Wkstn</div>
                                    <div class="col-md-1" style="font-size:10px">Svr</div>
                                    <div class="col-md-1" style="font-size:10px">IP/EP</div>
                                    <div class="col-md-2" style="font-size:10px">Qty:</div>
                                </div>
                                <div id="AvCompnent6" class="row">
                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent6Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent6Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours6, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours6, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component6_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component6_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component6_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component6_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component6_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component6_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty6, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty6, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent7" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent7Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent7Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours7, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours7, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component7_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component7_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component7_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component7_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component7_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component7_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty7, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty7, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent8" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent8Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent8Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours8, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours8, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component8_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component8_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component8_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component8_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component8_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component8_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty8, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty8, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent9" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent9Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent9Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours9, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours9, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component9_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component9_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component9_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component9_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component9_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component9_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty9, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty9, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent10" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent10Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent10Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours10, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours10, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component10_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component10_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component10_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component10_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component10_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component10_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty10, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty10, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                The footer of the box
                            </div><!-- box-footer -->
                        </div><!-- /.box -->
                    </div>



                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Highest ( Complexity ) Components</h3>
                                <div class="box-tools pull-right">
                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                    <!-- Here is a label for example -->
                                    <span class="label label-primary">Help</span>
                                </div><!-- /.box-tools -->
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="HighestComplexityComponent" class="row">
                                    <div class="col-md-4" style="font-size:10px">Name</div>
                                    <div class="col-md-3" style="font-size:10px">Hours</div>
                                    <div class="col-md-1" style="font-size:10px">Wkstn</div>
                                    <div class="col-md-1" style="font-size:10px">Svr</div>
                                    <div class="col-md-3" style="font-size:10px">Qty:</div>
                                </div>
                                <div id="AvCompnent11" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent11Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent11Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours11, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod1ComponentHours11, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component11_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod1Component11_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component11_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod1Component11_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component11_IP)
                                        @Html.ValidationMessageFor(model => model.Prod1Component11_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty11, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty11, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent12" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent12Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent12Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours12, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod1ComponentHours12, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component12_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod1Component12_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component12_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component12_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component12_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component12_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty12, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty12, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent13" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent13Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent13Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours13, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours13, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component13_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component13_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component13_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component13_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component13_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component13_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty13, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty13, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent14" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent14Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent14Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours14, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours14, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component14_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component14_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component14_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod4Component14_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component14_IP)
                                        @Html.ValidationMessageFor(model => model.Prod4Component14_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty14, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Component_Qty14, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div id="AvCompnent15" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Compnent15Desc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod4Compnent15Desc, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-3" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.Prod4ComponentHours15, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.Prod4ComponentHours15, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component15_Wkstn)
                                        @Html.ValidationMessageFor(model => model.Prod4Component15_Wkstn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component15_Svr)
                                        @Html.ValidationMessageFor(model => model.Prod1Component15_Svr, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-1" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component15_IP)
                                        @Html.ValidationMessageFor(model => model.Prod1Component15_IP, "", new { @class = "text-danger", Style = "height:25px" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.Prod4Component_Qty15, new { htmlAttributes = new { @style = "width:75%" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty15, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                The footer of the box
                            </div><!-- box-footer -->
                        </div><!-- /.box -->
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Custom: "Add-Ons" and "Services"</h3>
                                <div class="box-tools pull-right">
                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                    <!-- Here is a label for example -->
                                    <span class="label label-primary">Help</span>
                                </div><!-- /.box-tools -->
                            </div><!-- /.box-header -->
                            <div class="box-body">
                                <div id="DefaultComplexityComponent" class="row">
                                    <div class="col-md-4" style="font-size:10px">Name</div>
                                    <div class="col-md-2" style="font-size:10px">Hours</div>
                                    <div class="col-md-2" style="font-size:10px">Qty:</div>
                                    <div class="col-md-2" style="font-size:10px">Total Hrs</div>

                                </div>
                                <div id="CustomCompnent1" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent1Desc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent1Desc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent1_Hours, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent1_Hours, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent_Qty1, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent_Qty1, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent1_TotalHours, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.CustomComponent1_TotalHours, "", new { @class = "text-danger" })
                                    </div>

                                </div>


                                <div id="CustomCompnent2" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent2Desc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent2Desc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent2_Hours, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent2_Hours, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent_Qty2, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty2, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent2_TotalHours, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.CustomComponent2_TotalHours, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div id="CustomCompnent3" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent3Desc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent3Desc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent3_Hours, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent3_Hours, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent_Qty3, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty3, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent3_TotalHours, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.CustomComponent3_TotalHours, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div id="CustomCompnent4" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent4Desc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent4Desc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent4_Hours, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent4_Hours, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent_Qty4, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty4, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent4_TotalHours, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.CustomComponent4_TotalHours, "", new { @class = "text-danger" })
                                    </div>


                                </div>
                                <div id="CustomCompnent5" class="row">

                                    <div class="col-md-4" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent5Desc, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent5Desc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent5_Hours, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.CustomComponent5_Hours, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.EditorFor(model => model.CustomComponent_Qty5, new { htmlAttributes = new { @class = "form-control", Style = "height:25px" } })
                                        @Html.ValidationMessageFor(model => model.Prod1Component_Qty5, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2" style="font-size:11px">
                                        @Html.TextBoxFor(model => model.CustomComponent5_TotalHours, new { @class = "form-control", disabled = "disabled", @readonly = "readonly", @style = "height:25px" })
                                        @Html.ValidationMessageFor(model => model.CustomComponent5_TotalHours, "", new { @class = "text-danger" })
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>




