@model SizingToolNew2.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.


                IMPORTANT NOTE:
                The IBM Control Desk Service Management process collects and processes standard business card type information in order to be able to contact individuals on status, assistance, or questions about selected services made by that individual or their delegates.
                Any other data, including sensitive financial, medical, or other identifiable information SHOULD NOT be entered within this system.
                Your personal information will be kept for the duration of the contract with IBM and your company. 
                More information on how we handle and use your personal information can be found in the IBM Privacy Statement, 
                which can be found here : <a href=" https://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen> Notice</a>

            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
