@using SizingToolNew2.Models
@model LoginViewModel
@{

}

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/ibm security shield wordmark stack blue20_by_30pct.png" />

    </div>
    <div class="col-md-6">
        <h2 class="panel-title list-panel-title">Welcome To:</h2>
        <h1 class="panel-title list-panel-title">IES Sizing Tool</h1>

    </div>


</div>

<div class="row">.</div>
<div class="row">.</div>


<div class="row">
    <div class="col-md-2">.</div>
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Login:</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
               
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">

        IMPORTANT NOTE:
        The IBM IES Sizing Tools process collects and processes standard business card type information in order to be able to contact individuals on status, assistance, or questions about selected services made by that individual or their delegates.
        Any other data, including sensitive financial, medical, or other identifiable information SHOULD NOT be entered within this system.
        Your personal information will be kept for the duration of the contract with IBM and your company. More information on how we handle and use your personal information can be found in the IBM Privacy Statement, which can be found here :
        <a href="">https://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen</a>

        <a>
            <p>Sizing Tool Version Information: </p>
            <p>IESSzing Version: 1.1.0.23 </p>
            <p>Production </p>
            <p>Date: 11-18-2017 </p>

        </a>





    </div>
    <div class="col-md-2">.</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}