@model IEnumerable<SizingToolNew2.Models.ProdCategory>



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">


                <div class="panel-body">
                    <table id="ProdCategoryList01-data-table"
                           class="table table-striped table-bordered"
                           style="width:100%">
                        <thead>

                            <tr style="font-size:12px">

                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryNote)
                                </th>
                                <th></th>
                            </tr>


                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr style="font-size:12px">

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryNote)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProdCategoryId }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ProdCategoryId }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProdCategoryId })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
